##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar

##############################
## Maven
##############################
target/
.mvn/wrapper/maven-wrapper.jar


##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws